{{> home/header}}





<div class="container mb-5">
  <div class="row border">
    <div class="col pt-2 pb-2  ">
      <span class="d-block">Четверг</span>
      <small class="d-block text-muted">13 декабря</small>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <img src="icons/sun1.png" width="35" height="35" alt="">
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <small class="text-muted">-2°</small>
      <span class="h4">-0°</span>
      <small class="text-muted">+5°</small>
    </div>
    <div class="col  d-flex justify-content-center align-items-center">80%</div>
    <div class="col  d-flex justify-content-center align-items-center">20m/c</div>
  </div>
  <div class="row border">
    <div class="col pt-2 pb-2  ">
      <span class="d-block">Четверг</span>
      <small class="d-block text-muted">13 декабря</small>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <img src="icons/sun1.png" width="35" height="35" alt="">
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <span>-2°</span>
      <span>-0°</span>
      <span>+5°</span>
    </div>
    <div class="col  d-flex justify-content-center align-items-center">80%</div>
    <div class="col  d-flex justify-content-center align-items-center">20m/c</div>
  </div>
  <div class="row border">
    <div class="col pt-2 pb-2  ">
      <span class="d-block">Четверг</span>
      <small class="d-block text-muted">13 декабря</small>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <img src="icons/sun1.png" width="35" height="35" alt="">
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <span>-2°</span>
      <span>-0°</span>
      <span>+5°</span>
    </div>
    <div class="col  d-flex justify-content-center align-items-center">80%</div>
    <div class="col  d-flex justify-content-center align-items-center">20m/c</div>
  </div>
</div>

<div class="container">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card</h5>
      </div>
    </div>
  </div>
</div>


