<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home - Start Bootstrap Template</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/weather-custom.css" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>

<!--HEADER-->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Weather</a>
    <a class="btn btn-primary" href="#">Sign In</a>
  </div>
</nav>


<section class="bg-light">
  <div class="container mt-5 mb-5 ">

    <div class="card">
      <div class="card-body">
        <h5>Dnipro</h5>
        <h6>Oct 24</h6>
        <i class="far fa-sun fa-2x"></i>
        <p>Lorem ipsum dolor.</p>
        <p>Lorem ipsum dolor.</p>
      </div>

  </div>
</section>
<!-- Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->

</body>
</html>
