<div class="container mt-5 mb-5 mt-1 mb-1">
  <ul class="collection">
    <li class="collection-item">
      <div class="row mb-0">
        <div class="col s4"><p>Tomorrow</p></div>
        <div class="col s1 ">
          <div class=""></div>
          <p class="right-align">
            <img class="right-align" src="/icons/sun1.png" alt="" width="35" height="35">
          </p>
        </div>
        <div class="col s3"><p class="center-align">-23*  -25*</p></div>
        <div class="col s1 valign-wrapper" ><span>80%</span></div>
        <div class="col s1"><p>/ 2m/c</p></div>
      </div>
    </li>
    <li class="collection-item">
      <div class="row mb-0">
        <div class="col s4"><p>7 december</p></div>
        <div class="col s1 ">
          <div class=""></div>
          <p class="right-align">
            <img class="right-align" src="/icons/sun1.png" alt="" width="35" height="35">
          </p>
        </div>
        <div class="col s3 "><p class="center-align">-23*  -25*</p></div>
        <div class="col s1">
          <p>80%</p>
        </div>
        <div class="col s1"><p>/ 2m/c</p></div>
      </div>
    </li>
    <li class="collection-item">
      <div class="row mb-0">
        <div class="col s4"><p>8 december</p></div>
        <div class="col s1 ">
          <div class=""></div>
          <p class="right-align">
            <img class="right-align" src="/icons/sun1.png" alt="" width="35" height="35">
          </p>
        </div>
        <div class="col s3"><p class="center-align">-23*  -25*</p></div>
        <div class="col s1"><p>80%</p></div>
        <div class="col s1"><p>/ 2m/c</p></div>
      </div>
    </li>
    <li class="collection-item">
      <div class="row mb-0">
        <div class="col s4"><p>9 december</p></div>
        <div class="col s1 ">
          <div class=""></div>
          <p class="right-align">
            <img class="right-align" src="/icons/sun1.png" alt="" width="35" height="35">
          </p>
        </div>
        <div class="col s3"><p class="center-align">-23*  -25*</p></div>
        <div class="col s1"><p>80%</p></div>
        <div class="col s1"><p>/ 2m/c</p></div>
      </div>
    </li>
    <li class="collection-item">
      <div class="row mb-0">
        <div class="col s4"><p>10 december</p></div>
        <div class="col s1 ">
          <div class=""></div>
          <p class="right-align">
            <img class="right-align" src="/icons/sun1.png" alt="" width="35" height="35">
          </p>
        </div>
        <div class="col s3"><p class="center-align">-23*  -25*</p></div>
        <div class="col s1"><p>80%</p></div>
        <div class="col s1"><p>/ 2m/c</p></div>
      </div>
    </li>
  </ul>
</div>