<div class="container mt-5 mb-5 mt-1 mb-1">
  <ul class="collection">

    {{#each forecast}}
      <li class="collection-item">
        <div class="row mb-0 valign-wrapper">
          <div class="col s4"><span>{{date}}</span></div>
          <div class="col s1 ">
            <div class=""></div>
              <img class="right-align" src={{conditionIcon}} alt="" width="35" height="35">
          </div>
          <div class="col s3 valign-wrapper">
            <span>{{tempMinC}}°</span>
            <span>&nbsp;&nbsp;{{tempMaxC}}°</span>
          </div>
          <div class="col s1 valign-wrapper" ><span>80%</span></div>
          <div class="col s1"><span>/ 2m/c</span></div>
        </div>
      </li>
    {{/each}}





  </ul>
</div>