<nav class="navbar navbar-light bg-white mb-3 mb-sm-4">
  <div class="container">
    <a href="/" class="navbar-brand">Weather</a>
    <ul class="nav">
      <li class="nav-item">
        <a href="/search" class="nav-link">Search</a>
      </li>
      <li class="nav-item">
        <a href="/sign-in" class="nav-link">Sign In</a>
      </li>
    </ul>
  </div>
</nav>




