<nav class="navbar navbar-light bg-light mb-5">
  <div class="container">
    <a href="/" class="navbar-brand">Weather</a>
    <ul class="nav">
      <li class="nav-item">
        <a href="/search" class="nav-link">Search</a>
      </li>
      <li class="nav-item">
        <a href="/search" class="nav-link">Sign In</a>
      </li>
    </ul>
  </div>
</nav>




<ul class="list-group">
  <li class="list-group-item">
      <div class="row">

      </div>
  </li>
</ul>
