
  <div class="card">
    <div class="card-body pt-3 pb-3">
      <div class="card-title d-flex mb-0">
        <span class="mr-auto"><a href="/hourly">HOURLY</a></span>
        <span><a href="/hourly">-></a></span>
      </div>
      <div class="card-subtitle">
        <small class="text-muted">Expect dry conditions over the next six hours</small>
      </div>
      <div class="row">
        <div class="col">
          <span class="d-block text-center">NOW</span>
          <span class="d-block text-center ">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
          <span class="d-block text-center">-2°</span>
        </div>
        <div class="col">
          <span class="d-block text-center">09:00</span>
          <span class="d-block text-center">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
          <span class="d-block text-center">-2°</span>
        </div>
        <div class="col">
          <span class="d-block text-center">10:00</span>
          <span class="d-block text-center">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
          <span class="d-block text-center">-2°</span>
        </div>
        <div class="col">
          <span class="d-block text-center">11:00</span>
          <span class="d-block text-center">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
          <span class="d-block text-center">-2°</span>
        </div>
        <div class="col d-none d-sm-block">
          <span class="d-block text-center">12:00</span>
          <span class="d-block text-center">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
          <span class="d-block text-center">-2°</span>
        </div>
        <div class="col d-none d-sm-block">
          <span cclass="d-block text-center">13:00</span>
          <span class="d-block text-center">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
          <span class="d-block text-center">-2°</span>
        </div>
      </div>

    </div>
  </div>

