<div class="card">
  <div class="card-body pt-3 pb-3">
    <div class="card-title d-flex mb-0">
      <span class="mr-auto">
        <a href="/precipitations" class="text-uppercase">Precipitations</a></span>
      <span><a href="/precipitations">--></a></span>
    </div>
    <div class="card-subtitle">
      <small class="text-muted">Expect dry conditions over the next six hours</small>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="d-block text-center text-muted">Evening</span>
        <span class="d-block text-center">
        <img src="/icons/sun1.png" alt="drop" width="35" height="35">
      </span>
        <span class="d-block text-center text-muted">10%</span>
      </div>
      <div class="col-3">
        <span class="d-block text-center text-muted">Night</span>
        <span class="d-block text-center">
        <img src="/icons/sun1.png" alt="drop" width="35" height="35">
      </span>
        <span class="d-block text-center">10%</span>
      </div>
      <div class="col-3">
        <span class="d-block text-center  text-muted">Tomorrow morning</span>
        <span class="d-block text-center">
        <img src="/icons/sun1.png" alt="drop" width="35" height="35">
      </span>
        <span class="d-block text-center">10%</span>
      </div>
      <div class="col-3">
        <span class="d-block text-center text-muted">Tm. afternoon</span>
        <span class="d-block text-center">
        <img src="/icons/sun1.png" alt="drop" width="35" height="35">
      </span>
        <span class="d-block text-center">10%</span>
      </div>
    </div>
  </div>

</div>
