{{> home/header}}

{{> home/main-one}}

<!--Precipitations-->
<div class="container mb-3 mb-sm-4">
  <div class="row">
    <div class="col-12 col-lg mb-3 mb-lg-0">
      {{> home/hourly}}
    </div>
    <div class="col-12 col-lg">
      {{> home/precipitations}}

    </div>
  </div>

</div>


{{> home/forecast-one}}



