{{> home/header}}
{{> home/main-one}}


<div class="container bg-white mb-5 p-3 border">

  <div class="w-100 d-flex">
    <span class="mr-auto"><a href="/hourly">HOURLY</a></span>
    <a href="/hourly">-></a>
  </div>
  <div class="w-100">
    <small>Expect dry conditions over the next six hours</small>
  </div>

  <div class="row">
    <div class="col-2">
      <span class="d-block">now</span>
      <span class="d-block  ">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
      <span>-2°</span>
    </div>
    <div class="col-2">
      <span class="d-block">now</span>
      <span class="d-block  ">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
      <span>-2°</span>
    </div>
    <div class="col-2">
      <span class="d-block">now</span>
      <span class="d-block  ">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
      <span>-2°</span>
    </div>
    <div class="col-2">
      <span class="d-block">now</span>
      <span class="d-block  ">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
      <span>-2°</span>
    </div>
    <div class="col-2">
      <span class="d-block">now</span>
      <span class="d-block  ">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
      <span>-2°</span>
    </div>
    <div class="col-2">
      <span class="d-block">now</span>
      <span class="d-block  ">
        <img src="/icons/116.png" alt="" width="35" height="35">
      </span>
      <span>-2°</span>
    </div>
  </div>
</div>

<div class="container bg-white mb-5 p-3 border">
  <div class="w-100">
    <span class="text-uppercase">Precipitations</span>
  </div>
  <div class="row">
    <div class="col-3">
      <span class="d-block text-center text-muted">Evening</span>
      <span class="d-block text-center">
        <img src="/icons/sun1.png" alt="drop" width="35" height="35">
      </span>
      <span class="d-block text-center text-muted">10%</span>
    </div>
    <div class="col-3">
      <span class="d-block text-center text-muted">Night</span>
      <span class="d-block text-center">
        <img src="/icons/sun1.png" alt="drop" width="35" height="35">
      </span>
      <span class="d-block text-center">10%</span>
    </div>
    <div class="col-3">
      <span class="d-block text-center  text-muted">Tomorrow morning</span>
      <span class="d-block text-center">
        <img src="/icons/sun1.png" alt="drop" width="35" height="35">
      </span>
      <span class="d-block text-center">10%</span>
    </div>
    <div class="col-3">
      <span class="d-block text-center text-muted">Tm. afternoon</span>
      <span class="d-block text-center">
        <img src="/icons/sun1.png" alt="drop" width="35" height="35">
      </span>
      <span class="d-block text-center">10%</span>
    </div>

  </div>
</div>

{{> home/forecast-one}}
